@charset "UTF-8";

	hr{
		height: 1px;
		background-color: black;
	}
	label{
		font-size: 14px;
		font-family: Laksaman;
	}
	.progControlSelect2 {
	width: 250px;
	}
	label{
		font-family: Poppins;
	}
	input, option{
		font-family: Anta;
	}
	th{
		font-family: Aclonica;
	}
	.radioLabel{
		font-family: Poppins;
	}
	
	td{
		font-family: Poppins;
	}
	.spanErr{
		color: red;
		font-family: Anta;
	}
	
	button{
		font-family: Poppins;
	}